* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 239, 239);
    font-family: helvetica, arial, sans-serif;
    
}

.jumbotron {
    position:relative;
    min-height: 65vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://i.insider.com/533f0c24ecad04d06d2dbf25?width=1000&format=jpeg&auto=webpmages/WB nightlife.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-bottom: 5px;

}

.jumbotron>h1 {
    position: absolute;
    top: 8%;
    right: 4%;
    margin: 0;
    font-size: 3.5rem;
    
}

