* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 239, 239);
    font-family: helvetica, arial, sans-serif;
    
}

.jumbotron {
    position:relative;
    min-height: 65vh;
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://i.insider.com/533f0c24ecad04d06d2dbf25?width=1000&format=jpeg&auto=webpmages/WB nightlife.jpeg");
    background-size: cover;
    background-position: 100%;
    margin-bottom: 5px;
    border-bottom: solid black;

}

.jumbotron>h1 {
    position: absolute;
    top: 8%;
    right: 4%;
    margin: 0;
    font-size: 3.5rem;
    
}
 
footer {
background-color: rgb(117, 165, 208);
background-position: bottom;
font-weight: strong;
position: relative;
display: flex-box;
flex-wrap: wrap;
float: inline-end;
border: solid black;
text-align: center;
}

.copyright {
    text-align: center;
}